<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
    <link rel='stylesheet' href='assets/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
