<h1>{{title}}</h1>
{{!-- <h2>Current Headlines</h2> --}}
{{!-- <li id="headline-list">
    {{#each headlines}}
        {{> headline/headline-block}}
    {{/each}}
</li>
 --}}


 <div id="headline-list">
    {{#each headlines}}
        {{> headline/headline-block}}
    {{/each}}
</div>
