<h3>Users</h3>
<li id="users-list">
    {{#each users}}
      {{!-- {{#unless devoured}} --}}
        {{!-- {{> burgers/burger-block devoured=false}} --}}
        {{> user/user-block}}
      {{!-- {{/unless}} --}}
    {{/each}}

</li>