<form>
    <fieldset class="uk-fieldset">
        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="New Note"></textarea>
        </div>
        <button class="uk-button uk-button-default new-note" data-article-id={{_id}} >Post A Note!</button>
    </fieldset>
</form>